# git ignore patterns

autom4te.cache/
libltdl/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
config.guess
configure.scan
config.sub
coverage_report
depcomp
ltmain.sh
install-sh
libtool
m4
missing
stamp-h1
*~
.*sw?
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.log


build/

Build/src/ruse
Build/util/ruse_multiproc
Build/util/ruse_omp
